[Unit]
Description=OpenCCA WiFi Hotspot Docker Service
After=network.target
Requires=docker.service

#
# Use this as a template. Modify paths in here
#
[Service]
WorkingDirectory=/home/opencca/hotspot
ExecStart=/home/opencca/hotspot/run_hotspot.sh
StandardOutput=append:/home/opencca/hotspot/hotspot.log
StandardError=append:/home/opencca/hotspot/hotspot.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target